/* Estilos Globais - Remove margens e padding padrão e definindo a caixa de modelo para todos os elementos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ Página Inicial ---------------------------- /
    / Aplica estilos para a primeira página com uma imagem de fundo */
.pag1 {
    background-image: url("../images/pag1/foto-inicio.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Aplica estilos aos botões na navegação */
nav a button {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: none;
}

/* Criando um layout flexível para o elemento de navegação */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Aplica padding ao cabeçalho */
header {
    padding-top: 2%;
    width: 100%;
}

/* Estilização do título da página inicial */
.div-titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}

/* Estilização do botão na primeira página */
.botao-arredondado {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
    height: 40px;
    width: 15%;
    border-radius: 8px;
    background-color: #C08249;
    border: none;
    color: white;
    margin-left: 42%;
}

/* Muda a cor de fundo do botão ao passar o mouse */
.botao-arredondado:hover {
    background-color: #c08349d7;
}

/* --------------------- Página de Nossa História -------------------- */

/* Aplica estilos uniformes a todos os subtítulos */
.subtitulos {
    /*Mesma formatação de subtítulo para toda a página*/
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #4A2F1E;
    padding-top: 3%;
    padding-bottom: 5%;
}

/* Aplica estilos para a página 2 */
.pag2 {
    background-color: #EAE6E2;
    padding: 50px 0px;
}

/* Estilização do texto da história */
.texto_historia {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    color: #4A2F1E;
    font-size: 20px;
    margin: 0px 90px;
}

/* --------------------- Página O que Acreditamos ---------------------- */

/* Estilização da página 3 */
.pag3 {
    background-color: #D4C9C1;
    padding: 50px 0px;
}

/* Aplica layout flexível para os ícones */
.div-icones {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}

/* Estiliza a imagem dentro de .div-icones. Define a largura e ajusta a altura proporcionalmente */
.div-icones img {
    width: 90px;
    height: auto;
    box-sizing: content-box;
    flex-wrap: nowrap;
}

/* Estiliza o conteúdo de .caixa. Define margem superior, família de fontes, flexbox para layout e largura */
.caixa {
    padding-top: 1%;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estiliza o container. Configuração de flexbox para o layout e alinhamento dos itens */
.container {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

/* --------------------------------Nossa equipe-------------------------------- */

.pag4 {
    background-color: #EAE6E2;
    padding: 50px 0px;
}

.linha {
    display: flex;
    justify-content: space-around;
    margin: 0px 100px 50px 100px;
}

.linha2 {
    display: flex;
    justify-content: space-around;
    margin: 0px 200px 50px 200px;
    padding: 0px 40px;
}

.nome {
    text-align: center;
    color: #18181B;
    font-family: 'Nunito', sans-serif;
}

.redeSocial {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #18181B;
}

.img_equipe {
    width: 300px;
    color: #18181B;
}



/* ---------------------------Rodapé--------------------------------------------------- */

.footer-redes-sociais {
    flex-direction: column;
    text-align: center;
    background-color: #713E1E;
    font-family: 'Nunito', sans-serif;
    color: #FFF;
    display: flex;
    padding: 20px;
}

.footer-icones {
    margin-top: 15px;
}

/* Remove o sublinhado padrão dos links no .footer-icones */
.footer-icones a {
    text-decoration: none;
}

.img_rodape {
    height: 30px;
    width: 30px;
    padding-right: 5px;
}

.paragrafo_rodape {
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
}

/* ---------------------------------------Responsividade-------------------------------------- */

/* responsividade do site em telas com largura de até 667px */
@media screen and (max-width: 667px) {
    .pag1 {
        /* Define a imagem de fundo para a primeira página e assegura que ela cubra todo o espaço disponível */
        background-image: url("../images/pag1/foto-inicio.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-position: 40%;
    }

    .div-titulo {
        /* Reduz o tamanho da fonte para melhor visualização em dispositivos pequenos */
        font-size: 30px;
        padding-top: 30vh;
    }

    .botao-arredondado {
        /* Ajusta o tamanho e posicionamento do botão de "adotar" */
        height: 30px;
        width: 50%;
        margin-left: 25%;
    }

    .subtitulos,
    .texto_historia {
        /* Ajusta o tamanho da fonte para sub-títulos e parágrafos de história */
        font-size: 18px;
    }

    .div-icones img {
        /* Ajusta o tamanho dos ícones de missão, visão e valores */
        width: 50px;
        height: 50px;
    }

    .caixa {
        /* Define a largura da caixa que contém a missão, visão e valores */
        width: 40%;
    }

    .linha {
        /* Altera a direção dos elementos na linha para a coluna para melhor visualização em dispositivos pequenos */
        flex-direction: column;
        align-items: center;
    }

    .linha2 {
        /* Mesmo ajuste para linha2, mas com margem diferente */
        flex-direction: column;
        align-items: center;
        margin: 0px 100px 50px 100px;
    }

    .img_equipe {
        /* Ajusta o tamanho das fotos da equipe para melhor visualização em dispositivos pequenos */
        width: 150px;
    }

    .img_rodape {
        /* Ajusta o tamanho dos ícones das redes sociais no rodapé */
        height: 20px;
        width: 20px;
    }
}


/* responsividade do site em telas com largura de 668px a 1024px */
@media screen and (max-width: 1024px) and (min-width: 668px) {
    .pag1 {
        /* Define a imagem de fundo para a primeira página e assegura que ela cubra todo o espaço disponível */
        background-image: url("../images/pag1/foto-inicio.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-position: 43%;
    }

    .div-titulo {
        /* Aumenta o tamanho da fonte para melhor visualização em telas maiores */
        font-size: 60px;
    }

    .botao-arredondado {
        /* Ajusta o tamanho, posicionamento e tamanho da fonte do botão "adotar" */
        height: 45px;
        width: 30%;
        margin-left: 35.5%;
        font-size: 20px;
    }

    .subtitulos,
    .texto_historia {
        /* Aumenta o tamanho da fonte para sub-títulos e parágrafos de história */
        font-size: 25px;
    }

    .div-icones img {
        /* Ajusta o tamanho dos ícones de missão, visão e valores */
        width: 70px;
        height: 70px;
    }

    .caixa {
        /* Define a largura da caixa que contém a missão, visão e valores */
        width: 30%;
    }

    .img_equipe {
        /* Ajusta o tamanho das fotos da equipe para melhor visualização em telas maiores */
        width: 200px;
    }

    .img_rodape {
        /* Ajusta o tamanho dos ícones das redes sociais no rodapé */
        height: 25px;
        width: 25px;
    }
}