* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ----------------------------------------Pagina inicial ------------------------------- */

.pag1 {
    background-image: url("../images/pag1/foto-inicio.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


nav a button {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    padding-top: 2%;
    width: 100%;
}


.div-titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}

.botao-arredondado {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif; /*Iohan -> A fonte certa aq é roboto, nn tinha mudado aquele titulo la - ass. Laisa*/
    height: 40px;
    width: 15%;
    border-radius: 8px;
    background-color: #C08249;
    border: none;
    color: white;
    margin-left: 42%;
}

.botao-arredondado:hover {
    background-color: #c08349d7;
}

/* -------------------------Nossa História Página Index ------------------- */

.subtitulos{ 
    /*Mesma formatação de subtítulo para toda a página*/
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #4A2F1E;
    padding-top: 3%;
    padding-bottom: 5%;
}

.pag2{
    background-color: #EAE6E2;
    padding: 50px 0px;
}

.texto_historia{
    display: flex;
    justify-content: center; /*alinha o parágrafo ao centro da tela*/
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    color: #4A2F1E;
    font-size: 20px;
    margin: 0px 90px;
}

/* -----------------------------------O que acreditamos ----------------------------- */

.pag3 {
    background-color: #D4C9C1;
    /* height: 100vh; */
    padding: 50px 0px;
}

.div-icones {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 13%;
}

.div-icones img {
    width: 90px;
    height: 90px;
    box-sizing: content-box;
}

.caixa {
    padding-top: 1%;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

/* --------------------------------Nossa equipe-------------------------------- */

.pag4{
    /* min-height: 100%; */
    background-color: #EAE6E2;
    padding: 50px 0px;
}

.linha {
    display: flex;
    justify-content: space-around;
    margin: 0px 100px 50px 100px;
}

.linha2 {
    display: flex;
    justify-content: space-around;
    margin: 0px 200px 50px 200px;
    padding: 0px 40px;
}

.nome {
    text-align: center;
    color: #18181B;
    font-family: 'Nunito', sans-serif; 
}

.redeSocial {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #18181B;
}
.img_equipe {
    width: 300px;
    color: #18181B;
}



/* ---------------------------Rodapé--------------------------------------------------- */

.footer-redes-sociais{
    flex-direction: column;
    text-align: center;
    background-color: #713E1E;
    font-family:'Nunito', sans-serif;
    color: #FFF;
    display: flex;
    padding: 20px;
}

.footer-icones{
    margin-top: 15px;
}

.footer-icones a{
    text-decoration: none;
}

.img_rodape {
    height: 30px;
    width: 30px;
    padding-right: 5px;
}

.paragrafo_rodape {
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
}

/* ---------------------------------------Responsividade-------------------------------------- */

@media screen and (max-width: 1024px) and (min-width: 668px){ 
    
}

@media screen and (max-width: 667px){
    
}